/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */

/* Variables CSS para el escáner QR */
body.scanner-active {
  --background: transparent;
  --ion-background-color: transparent;
}
